boto3==1.34.40
fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
pgvector
python-multipart
redis
celery
# AI Dependencies
opencv-python-headless
insightface
onnxruntime
numpy
requests
stream-zip
Pillow
pillow-heif
